# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

RAN/srsRAN_Project/build
UE/srsRAN_4G
RIC/oran-sc-ric
xApps
RAN/srsRAN_Project
RAN/srsRAN_Project.tar.gz
setup/prometheus-data
!RIC

dataScrapper/intermediateFileGenerator/Cadvisor.txt
dataScrapper/intermediateFileGenerator/tmp.txt
dataScrapper/Node.txt
dataScrapper/promCadvisor.txt
stresser/file_data.csv