# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

RAN/srsRAN_Project/build
UE/srsRAN_4G
RIC/oran-sc-ric
!RIC
xApps
RAN/srsRAN_Project
RAN/srsRAN_Project.tar.gz
setup/oran-sc-ric
setup/prometheus-data